@mixin span-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8a8888;
  line-height: 24px;
}
h1 {
  // background-color: aqua;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87.52%;
  /* identical to box height, or 56px */

  text-align: center;

  color: #ffffff;
}
p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 141.02%;
  /* or 34px */

  // text-align: center;
  opacity: 0.9;
}
h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 155.02%;
  /* or 26px */

  text-align: center;

  color: #363636;
}
h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 84.02%;
  /* or 30px */

  color: #363636;
}
h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  color: #363636;
}
h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 84.02%;
  /* identical to box height, or 17px */

  color: #1e1e1e;
}
h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  /* identical to box height, or 208% */

  color: #363636;
}
li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 81.02%;
  /* or 13px */

  color: #ffffff;

  opacity: 0.8;
}
