.hero-wrappe {
  background-image: url(/image/backgroundimage.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  .hero-section {
    height: 698px;
    width: 100%;
    flex-direction: column;

    p {
      color: #ffffff;
      width: 100%;
      text-align: center;
      padding: 0px 81px;
    }
  }
}
