@import "_config";

body {
  font-family: "Poppins", sans-serif;
  border: 2px solid black;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0px 165px 0px 165px;
}
// header section
.header {
  background: white;
  cursor: pointer;
  .header-top {
    border-bottom: 1px solid #f3eded;
    padding: 0px 20px;
  }
  .right-section {
    display: flex;
    justify-content: space-between;
    .call {
      @include span-text;
      gap: 10px;
      align-items: center;

      img {
        width: 15px;
      }
    }
    .email {
      @extend .call;
      @include span-text;
    }
    .contact {
      button {
        width: 128px;
        height: 41px;
        background: #86be3f;
        border-radius: 6px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 78.52%;
        /* identical to box height, or 13px */
        border: none;
        color: #ffffff;
      }
    }
  }
  .navbar-nav {
    justify-content: space-between;
    width: 100%;
    .nav-item {
      a {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 95.46%;
        /* or 17px */

        color: #8a8888;

        &:hover {
          color: green;
          // cursor: pointer;
        }
      }
    }
  }
}

// hero section

.hero-wrappe {
  background-image: url(/image/backgroundimage.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  .hero-section {
    height: 698px;
    width: 100%;
    flex-direction: column;

    p {
      color: #ffffff;
      width: 100%;
      text-align: center;
      padding: 0px 81px;
    }
  }
}

// mainsection

.main-section {
  padding-top: 80px;
  position: relative;
  .dot {
    img {
      position: absolute;
      width: 82px;
      left: 32px;
      right: 0;
      top: 90px;
    }
  }
  .heading {
    position: relative;
  }

  .heading::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    right: 0;
    width: 119.42px;
    height: 0px;
    border: 4px solid #86be3f;
  }
  .paragraph {
    p {
      margin-top: 26px;
      font-weight: 400;
      font-size: 17px;
      line-height: 155.02%;
      text-align: center;

      color: #363636;
    }
  }
  .card-list {
    width: 100%;
  }
  .card-section {
    display: flex;
    justify-content: center;
    position: relative;
    top: 90px;
    left: 0;
    right: 0;
    .card {
      border: none;
      background: #f8f8f8;
      border-radius: 6px;
      max-width: 350px;
      width: 100%;
      box-sizing: border-box;
      max-height: 277px;
      height: 100%;
      h5 {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        /* identical to box height, or 110% */
        text-align: center;
        color: #363636;
      }
      p {
        margin-top: 9px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 139% */
        color: #666666;
        text-align: center;
      }
    }
    .first-card {
      padding: 91px 5px 130px 0px;
    }
    .second-card {
      padding-top: 91px;
      margin-bottom: 182px;
    }
  }
  img {
    position: absolute;
    top: -74px;
    z-index: 1;
    right: 0;
    left: 100px;
  }
}

.qutes {
  margin-top: 50px;
  padding: 0px 166px;
  position: relative;
  .qutes-mark {
    width: 100%;
    font-style: italic;
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: #363636;
  }
  span {
    svg {
      position: absolute;
      left: 8%;
    }
  }

  .end-mark {
    position: absolute;
    right: 8%;
    top: 0;
  }
}
.crstion {
  margin-top: 30px;
  width: 100%;
  svg {
    width: 100%;
  }
}
.smart-integration {
  position: relative;
  margin-top: 80px;
  height: 560px;
  margin-bottom: 80px;

  .dots {
    position: absolute;
    z-index: -1;
  }
  .setlight-image {
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0px 0px 17px rgba(38, 57, 92, 0.13));
    border-radius: 5px;
    top: 4%;
    right: 0;
    left: 8%;
  }
  .soler-image {
    position: absolute;
    z-index: 2;
    top: 66%;
    left: 39%;
    right: 0;
  }
  .crcle {
    box-sizing: border-box;
    width: 413.9px;
    height: 413.9px;
    position: relative;
    top: 29px;
    left: 10%;
  }
  .bottom-dots {
    position: absolute;
    left: 108%;
    top: 109%;
  }
  .second-part {
    position: relative;

    height: 100%;
    img {
      position: absolute;
      z-index: 1;
      left: 97%;
      right: 0;
      top: 12%;
    }
    .circledots {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 28%;
      left: 100%;
    }
  }
  .sire {
    position: absolute;
    top: 40%;
    left: 13%;
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 84.02%;
      text-align: center;
      color: #86be3f;
    }
    h3 {
      margin-top: 13px;
      width: 638px;
      height: 39px;
      &:after {
        position: absolute;
        top: 124%;
        right: 0;
        left: 0;
        bottom: 0;
        content: "";
        width: 119.42px;
        background-color: #86be3f;
        height: 5px;
      }
    }
  }
  .sire-paragraph {
    position: absolute;
    top: 68%;
    left: 12%;

    p {
      width: 549px;
      margin-top: 26px;
      color: #666666;
      font-size: 17px;
      // display: flex;
      // text-align: start;
    }
  }
}
//Connesso, Intelligente, Resistente -->
.connesso {
  h2 {
    text-align: center;
    &:after {
      position: absolute;
      top: 150%;
      right: 0;
      left: 45%;
      bottom: 0;
      content: "";
      width: 119.42px;
      background-color: #86be3f;
      height: 5px;
    }
  }
  .boxes {
    margin-top: 77px;
    margin-bottom: 87px;
    .box {
      margin-top: 39px;
      display: flex;
      gap: 13px;
      .vector {
        img {
          border: 3px solid #86be3f;
          border-radius: 50%;
          padding: 15px 17px;
        }
      }
      h4 {
        margin: 0;
      }
      p {
        margin-top: 10px;
        font-size: 18px;
        line-height: 128.52%;
        color: #363636;
        max-width: 424px;
        width: 100%;
      }
    }
    .box-2 {
      p {
        max-width: 462px;
        width: 100%;
      }
    }
    .box-3 {
      p {
        max-width: 457px;
        width: 100%;
      }
    }
    .box-4 {
      p {
        max-width: 452px;
        width: 100%;
      }
    }
  }
}
.perche-card {
  margin-top: 52px;
  margin-bottom: 50px;
  width: 349.06px;
  height: 372.51px;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  h6 {
    text-align: center;
  }
  img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card-body {
    .card-text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #363636;
    }
  }
}
.mini-card {
  margin-top: 30px;
  margin-bottom: 29px;
  max-width: 255px;
  width: 100%;
  max-height: 147.9px;
  height: 100%;

  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  h6 {
    text-align: center;
  }
  img {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .card-body {
    .card-text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #363636;
    }
  }
}
