@import "_config";

body {
  font-family: "Poppins", sans-serif;
  border: 2px solid black;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0px 165px 0px 165px;
}
// header section
.header {
  background: white;
  cursor: pointer;
  .header-top {
    border-bottom: 1px solid #f3eded;
    padding: 0px 20px;
  }
  .right-section {
    display: flex;
    justify-content: space-between;
    .call {
      @include span-text;
      gap: 10px;
      align-items: center;

      img {
        width: 15px;
      }
    }
    .email {
      @extend .call;
      @include span-text;
    }
    .contact {
      button {
        width: 128px;
        height: 41px;
        background: #86be3f;
        border-radius: 6px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 78.52%;
        /* identical to box height, or 13px */
        border: none;
        color: #ffffff;
      }
    }
  }
  .navbar-nav {
    justify-content: space-between;
    width: 100%;
    .nav-item {
      a {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 95.46%;
        /* or 17px */

        color: #8a8888;

        &:hover {
          color: green;
          // cursor: pointer;
        }
      }
    }
  }
}

// hero section

.hero-wrappe {
  background-image: url(/image/backgroundimage.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  .hero-section {
    height: 698px;
    // max-width: 1440px;
    width: 100%;
    flex-direction: column;

    p {
      color: #ffffff;
      width: 100%;
      text-align: center;
      padding: 0px 81px;
    }
  }
}

// mainsection

.main-section {
  padding-top: 80px;
  position: relative;
  .dot {
    img {
      position: absolute;
      width: 82px;
      left: 32px;
      right: 0;
      top: 90px;
    }
  }
  .heading {
    position: relative;
  }

  .heading::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    right: 0;
    width: 119.42px;
    height: 0px;
    border: 4px solid #86be3f;
  }
  .paragraph {
    p {
      margin-top: 26px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 155.02%;
      /* or 26px */

      text-align: center;

      color: #363636;
    }
  }
  .card-list {
    width: 100%;
  }
  .card-section {
    display: flex;
    justify-content: center;
    position: relative;
    top: 90px;
    left: 0;
    right: 0;
    .card {
      border: none;
      background: #f8f8f8;
      border-radius: 6px;
      max-width: 350px;
      width: 100%;
      box-sizing: border-box;
      max-height: 277px;
      height: 100%;
      h5 {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        /* identical to box height, or 110% */
        text-align: center;
        color: #363636;
      }
      p {
        margin-top: 9px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 139% */
        color: #666666;
        text-align: center;
      }
    }
    .first-card {
      padding: 91px 5px 130px 0px;
    }
    .second-card {
      padding-top: 91px;
      margin-bottom: 182px;
    }
  }
  img {
    position: absolute;
    top: -74px;
    z-index: 1;
    right: 0;
    left: 100px;
  }
}

.qutes {
  margin-top: 50px;
  padding: 0px 166px;
  position: relative;
  .qutes-mark {
    // padding: 0px 150px 0px 150px;
    // max-width: 790px;
    width: 100%;

    font-style: italic;
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    /* or 143% */

    text-align: center;

    color: #363636;
  }
  span {
    svg {
      position: absolute;
      left: 8%;
    }
  }

  .end-mark {
    position: absolute;
    right: 8%;
    top: 0;
  }
}
.crstion {
  margin-top: 30pxgit;
  width: 100%;
  svg {
    width: 100%;
  }
}
.smart-integration {
  position: relative;
  margin-top: 80px;
  .dots {
    // padding-left: 80px;
    position: absolute;
    z-index: -1;
  }
  .setlight-image {
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0px 0px 17px rgba(38, 57, 92, 0.13));
    border-radius: 5px;
    top: 4%;
    right: 0;
    left: 8%;
  }
  .soler-image {
    position: absolute;
    z-index: 2;
    top: 65%;
    left: 44%;
    right: 0;
  }
  .crcle {
    box-sizing: border-box;
    width: 413.9px;
    height: 413.9px;
    position: relative;
    top: 29px;
  }
  .bottom-dots {
    position: absolute;
    left: 108%;
    top: 109%;
  }
}
